<p id="notice"><%= notice %></p>
<h1>Listing Destinations</h1>
<div class="row">
  <% @destinations.each do |destination| %>
<div class="col-med-4">
  <div class="well">
    <p><%= destination.city %></p>
    <p><%= destination.country %></p>
    <p><%= destination.description %></p>
    <p>
      <td><%= link_to 'Show', destination, class: 'btn btn-primary' %></td>
      <td><%= link_to 'Edit', edit_destination_path(destination), class: 'btn btn-warning' %></td>
      <td><%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?', class: 'btn btn-danger' } %></td>
    </p>
  </div>
</div>
<% end %>

</div>

<br>

<%= link_to 'New Destination', new_destination_path %>
